.container {
    border: 1px rgb(168, 166, 166) solid;
    border-radius: 5px;
    background-color: white;
    margin:5px;
    padding: 2px;
    width: 130px;
    height: 200px;
    display: flex;
    align-content:space-around;
    justify-content: center;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    overflow: auto;
}

.title {
    font-weight: strong;
    width: 100%;
    text-align: center;
    background-color: #90d0fe;
    color: royalblue;
    font-size:16px;
    border-radius: 5px;
    text-transform: capitalize;
}

.footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    color: brown;
    font-size: medium;
    text-transform: capitalize;
    font-weight: 700;
}

.product-img {
    width: 100px;
    height: 130px;
    animation: pkmove 1s infinite;
}

.product-img:hover {
  transform:scaleX(-1);
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100%;
    font-weight:700;
}

/* a:link 
border: 1px solid #fff;
border-radius: 10px;{
    color: rgb(159, 159, 159);
}
a:visited 
border: 1px solid #fff;
border-radius: 10px;{
    color: green;
} */
a:hover {
    border: 1px solid #fff;
    border-radius: 10px;
    color: hotpink;
}
a:active, a:visited, a:link {
    color: blue;
    border: 4px solid #0000ff33;
    box-shadow: 0 4px 8px 0 #0000ff33, 0 6px 20px 0 #0000ff33;
    border-radius: 10px;
}

.container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container::-webkit-scrollbar:vertical {
    width:5px;
}

.container::-webkit-scrollbar-button:increment,.container::-webkit-scrollbar-button {
    display: none;
} 

.container::-webkit-scrollbar:horizontal {
    height: 5px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 10px;
    border: 6px solid #f1f2f3;
}

.container::-webkit-scrollbar-track {
    border-radius: 5px;  
}

.pk-tipos {
    border-radius: 10px;
    width: 50%;
    height: 25px;
    margin: 0 2px;
    font-size: small;
}

.clase-Flying	{
    border: 1px solid #066c4e;
    color: #066c4e;
}

.clase-Ice{
    border: 1px solid #05a8dd;
    color: #05a8dd;
}

.clase-Bug{
    border: 1px solid #109d11;
    color: #109d11;
}

.clase-Fairy{
    border: 1px solid #023802;
    color: #023802;
}

.clase-Electric{
    border: 1px solid #bba10ade;
    color: #bba10ade;
}

.clase-Psychic{
    border: 1px solid #c50e4b;
    color: #c50e4b;
}

.clase-Steel{
    border: 1px solid #1d8a99;
    color: #1d8a99;
}

.clase-Normal {
    border: 1px solid #b09398;
    color:#b09398;
}

.clase-Fighting {
    border: 1px solid #2f2f2f;
    color: #2f2f2f;
}

.clase-Poison	{
    border: 1px solid #795663;
    color:#795663;
}

.clase-Ground	{
    border: 1px solid #d2b074;
    color:#d2b074;
}

.clase-Rock{
    border: 1px solid #999799;
    color: #999799;
}

.clase-Ghost{
    border: 1px solid #561d25;
    color: #561d25;
}

.clase-Fire{
    border: 1px solid #ff675c;
    color: #ff675c;
}

.clase-Water{
    border: 1px solid #0596c7;
    color: #0596c7;
}

.clase-Grass{
    border: 1px solid #4a9681;
    color: #4a9681;
}

.clase-Dragon{
    border: 1px solid #da627d;
    color: #da627d;
}

.clase-Dark{
    border: 1px solid #a9a9a9;
    color: #a9a9a9;
}

.clase-Unknown{
    border: 1px solid #4169e1;
    color: #4169e1;
}

.clase-Shadow{
    border: 1px solid #4947479a;
    color: #4947479a;
}

.active {
    border: 2px solid royalblue;
}
