.container-list-pkm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80vh;
    overflow-x: auto;
}

.container-list-pkm::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container-list-pkm::-webkit-scrollbar:vertical {
    width:10px;
}

.container-list-pkm::-webkit-scrollbar-button:increment,.container-list-pkm::-webkit-scrollbar-button {
    display: none;
} 

.container-list-pkm::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container-list-pkm::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.container-list-pkm::-webkit-scrollbar-track {
    border-radius: 10px;  
}
